body {
  background-color: #1a12b2; 
  color: #14C6CC;           
}

#calculator{
  width: 325px;
  height: auto;
  margin: 5% auto;
  padding: 20px 20px 10px;
  
  background: #14C6CC;
  background: linear-gradient(#14C6CC, #2f2a0d);
  border-radius: 50px;
}

.top span.clear {
  float: left;
}

.top .screen {
  height: 40px;
  width: 155px;
  float: right;
  padding: 0 10px;
  
  background: #1BADB2;
  border-radius: 50px;
  
  font-size: 20px;
  line-height: 40px;
  color: white;
  text-align: right;
  letter-spacing: 1px;
}

.keys, .top {overflow:hidden}

.keys span, .top span.clear{
  float:left;
  position: relative;
  top: 0px;
  cursor:pointer;
  
  width: 66px;
  height: 36px;
  
  background: white;
  border-radius: 20px;
  margin: 0 7px 11px 0;
  
  color:  #B2127D;
  line-height: 36px;
  text-align: center;
  user-select: none;
  transition: all 0.2s ease;
}

.keys span.operator {
  background: #FFF0F5;
  margin-right: 0;
}

.keys span.eval {
  background: #14C6CC;
  color: #B2127D;
}

.top span.clear {
  background: #FFDF27;
  color: #B2127D;
}

.keys span:hover {
  background: #14C6CC;
  color: white;
}

.keys span.eval:hover {
  background: #B2127D;
  color: white;
}

.keys span.clear:hover {
  background: #B2127D;
  color: white;
}






























